@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap')
@import "assets/Sass/breakpoints"
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$base_color: #dddddd
$text_color: #555555
$accent_color: #d24a43
=mt($time)
  transition: all $time ease

.appContainer
  display: block
  max-width: 1200px
  width: 100%
  margin: auto
  color: $text_color
  +media-breakpoint-down(sm)
    margin-top: 60px

.button
  display: inline-block
  padding: 10px 20px
  appearance: none
  border: none
  outline: none
  background-color: $accent_color
  color: #ffffff
  border-radius: 5px
  box-shadow: 0 2px 1px 0 #111
  text-decoration: none
  font: 600 16px/1.6 'Open Sans', sans-serif
  margin-top: 22px
  cursor: pointer
  +mt(0.25s)
  &:hover
    background-color: lighten($accent_color, 7%)
  &:active
    box-shadow: 0 0 1px 0 #111
    transform: translateY(2px)

.h2
  margin: 0 0 40px 0
  padding: 0
  text-align: center






